@charset "UTF-8";


@font-face {
    font-family: idroid;
    src: url(fontes/idroid.otf);
    }

    body {
        background-color: #84E1AD;
    } 
      
    header {
        background-image: linear-gradient(to top, rgba(0, 100, 0, 0.611), rgba(0, 128, 0, 0.562), rgb(103, 238, 103));
        margin: -20px -9px -19px -9px;

    }

    h1 {
        color: white;
        text-align: center;
        padding: 15px;
    }

    p.subtitulo {
        color: white;
        text-align: center;
        margin: -30px 1px 1px 1px;
        padding: 10px;
    }

    nav a {
        margin-left: 20px;
        color: white;
        text-decoration: none;
        font-size: medium;
                 
    }  

    a:hover {
        background-color: rgba(1, 97, 1, 0.704);
        color: #f5f105;
        transition: 0.7s;
        display: inline-block;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 3px;
        padding-bottom: -3px;
        border-radius: 3px;
        font-size: medium;

        box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.2);   
        
    }    

    main {
        background-color: white;
        margin: 20px;
        width: auto;
        padding-bottom: 10px;
    }

    h2 {
        padding: 10px;
        font-family: idroid;
        font-size: medium;
        color: green;
        background-image: linear-gradient(to right, rgba(0, 128, 0, 0.247), rgba(144, 238, 144, 0.104));
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 5px;
        padding: 10px;

    }

    h3 {
        font-family: idroid;
        font-size: small;
        color: green;
        text-indent: 10px;
        background-image: linear-gradient(to right, rgba(0, 128, 0, 0.247), rgba(144, 238, 144, 0.104));
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 5px;
        padding: 10px;
    }

    p {
        text-indent: 15px;
        text-align: justify;
        margin-left: 10px;
        margin-right: 10px;
    }

    img {
        width: 80%;
        max-width: 80%;
        min-width: 20%;

        height: 80%;
        max-height: 80%;
        min-height: 20%;
        
        border-radius: 3%;
        max-width: 700px;
        text-align: center;
        display: block;
        margin: auto;

    }

    .imgdroid {
        margin: auto;
        height: 50%;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: max-content;
    }

    .video {
        text-align: center;
        background-color: green;
        padding: 50px;
   
    }

    .video > iframe {
    border: none;
    
    padding-top: 3px;

    max-width: 30%;
    max-height: 50%;
    
    min-width: 70%;
    min-height: 70%;

    width: 50%;
    height: 50%;
    
    z-index: -100;
    }

    h4 {
        background-color: rgba(3, 101, 3, 0.392);
        color: white;
        font-weight: bolder;
        border-top: 17px ;
        border-radius: 17px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        padding: 10px;

    }
    
    section#tabelafinal {
        background-color: #84e1ac74;
        margin-left: 10px;
        margin-right: 10px;
        border-top: 17px;
        
        border-radius: 17px;
        padding-bottom: 5px;
        

    }   
    
    ul {
        display: inline-block;
              
    }

    

    .tab1 {
        display: inline-block;
        margin-right: 230px;
    }

    .tab2 {
        display: inline-block;
    }

    footer {
        background-color: rgb(5, 59, 5);
        margin: auto;
        
    }

    .rodape {
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    color: white;
    text-align: center;
    padding: 5px;
    }
    