@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: idroid;
    src: url(fontes/idroid.otf);
}

:root {
    --cor0: #84E1AD;
    --cor1: white;
    --cor2: linear-gradient(to top, rgba(0, 100, 0, 0.611), rgba(0, 128, 0, 0.562), rgb(103, 238, 103));
    --cor3: rgba(1, 97, 1, 0.704);
    --cor4: #3ddc84;
    --cor5: #198547;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonde-destaque: 'Bebas Neue', cursive;
}

body {
    background-color: var(--cor0);
} 
    
header {
    background-image: var(--cor2);
    margin: -20px -9px -19px -9px;

}

h1 {
    font-family: cursive;
    color: var(--cor1);
    text-align: center;
    padding: 15px;
    text-shadow: 6px 4px 2px rgba(0, 0, 0, 0.393);
    
}

p.subtitulo {
    color: var(--cor1);
    text-align: center;
    margin: -30px 1px 1px 1px;
    padding: 10px;
    text-shadow: 3px 2px 1px rgba(0, 0, 0, 0.393);
    
}

a.links {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-size: medium;
    text-shadow: 3px 2px 1px rgba(0, 0, 0, 0.393);
                
}  

.links:hover {
    background-color: var(--cor3);
    color: #f5f105;
    transition: 0.7s;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: -3px;
    border-radius: 3px;
    font-size: medium;
    text-shadow: 3px 2px 1px rgba(0, 0, 0, 0.393);
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.2);
    margin-right: -10px;  
    
}  

main {
    background-color: white;
    margin: 20px;
    width: auto;
    padding-bottom: 10px;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.303);
}

h2 {
    padding: 10px;
    font-family: idroid;
    font-size: medium;
    color: green;
    background-image: linear-gradient(to right, rgba(0, 128, 0, 0.247), rgba(144, 238, 144, 0.104));
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 10px;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.303);

}

h3 {
    font-family: idroid;
    font-size: small;
    color: green;
    text-indent: 10px;
    background-image: linear-gradient(to right, rgba(0, 128, 0, 0.247), rgba(144, 238, 144, 0.104));
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 10px;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.303);
}

p {
    font-family: var(--font-padrao);
    text-indent: 15px;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 2em;
    text-shadow: 0px 0px 2px rgba(69, 66, 66, 0.393);
}

img {
    width: 80%;
    max-width: 80%;
    min-width: 20%;

    height: 80%;
    max-height: 80%;
    min-height: 20%;
    
    border-radius: 3%;
    max-width: 700px;
    text-align: center;
    display: block;
    margin: auto;

}

.imgdroid {
    margin: auto;
    height: 50%;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: max-content;
}

.video {
    position: relative;
    background-color: green;
    height: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    padding-bottom: 59%;

    
    /* text-align: center;
    background-color: green;
    padding: 50px;

    
    max-width: 100%;
    min-width: 20%;

    height: 80%;
    max-height: 80%;
    min-height: 20%; */

}

.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

h4 {
    background-color: rgba(3, 101, 3, 0.392);
    color: white;
    font-weight: bolder;
    border-top: 17px ;
    border-radius: 17px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 10px;
    text-shadow: 3px 2px 1px rgba(0, 0, 0, 0.148);

}

section#tabelafinal {
    background-color: #84e1ac74;
    margin-left: 10px;
    margin-right: 10px;
    border-top: 17px;
    
    border-radius: 17px;
    padding-bottom: 5px;
    

}   

ul {
    list-style-type: '✔ ';
    columns: 2;
    list-style-position: inside;
    text-shadow: 1px 0px 2px rgba(69, 66, 66, 0.393);
                    
}


footer {
    background-color: rgb(5, 59, 5);
    margin: auto;
    
}

.rodape {
font-family: 'Courier New', Courier, monospace;
font-size: 10px;
color: white;
text-align: center;
padding: 5px;
}
